body {
    background: #F7CAC9;
}

p {

    border-bottom: 2px solid hwb(1 45% 6%);
    border-radius: 22px;
}

summary {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5em;
    text-align: center;
}
summary.todai {
    background-image: url("images/logo_todai.png");
    /* Assurez-vous d'ajouter des propriétés pour bien afficher le logo */
    background-size: 20%; /* Taille du logo */
    background-repeat: no-repeat; /* Ne pas répéter */
    background-position: right 10px center; /* Positionner le logo à droite */
    padding-right: 60px; /* Ajouter de l'espace pour que le texte ne chevauche pas le logo */
}
summary.nanterre {
    background-image: url("images/logo_nanterre.png");
    /* Assurez-vous d'ajouter des propriétés pour bien afficher le logo */
    background-size: 20%; /* Taille du logo */
    background-repeat: no-repeat; /* Ne pas répéter */
    background-position: right 10px center; /* Positionner le logo à droite */
    padding-right: 60px; /* Ajouter de l'espace pour que le texte ne chevauche pas le logo */
}
summary.sorbonne {
    background-image: url("images/logo_sorbonne.png");
    /* Assurez-vous d'ajouter des propriétés pour bien afficher le logo */
    background-size: 20%; /* Taille du logo */
    background-repeat: no-repeat; /* Ne pas répéter */
    background-position: right 10px center; /* Positionner le logo à droite */
    padding-right: 60px; /* Ajouter de l'espace pour que le texte ne chevauche pas le logo */
}
summary.cau {
    background-image: url("images/logo_cau.png");
    /* Assurez-vous d'ajouter des propriétés pour bien afficher le logo */
    background-size: 20%; /* Taille du logo */
    background-repeat: no-repeat; /* Ne pas répéter */
    background-position: right 10px center; /* Positionner le logo à droite */
    padding-right: 60px; /* Ajouter de l'espace pour que le texte ne chevauche pas le logo */
}
summary .date {
  font-weight: 600;
  font-size: 1.5em;
  display: inline; /* important */
  margin-right: 10px;
}
.logo {
    width: 150px;
    margin-top: 10px;
}

@media (max-width: 600px) {
summary{
    background: #63cc0049;
}
body{
    background: #ffffff;
}
  .tabs a.active {
    background: none;           /* pas de fond */
    color: #6600cc;             /* couleur du texte, violet néon par exemple */
    font-weight: bold;       /* texte en gras */
  }
}
