body {
    background: #F7CAC9;
}

p {

    border-bottom: 2px solid #f07472;
    border-radius: 22px;
}

summary {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5em;
    text-align: center;
}
summary .date {
  font-weight: 600;
  font-size: 1.5em;
  display: inline; /* important */
  margin-right: 10px;
}
.logo {
    width: 150px;
    margin-top: 10px;
}


