
body {
    background: #F7CAC9;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #3b3a36;
    max-width: 700px; /* largeur maximale */
    margin: 0 auto 1em auto; /* centrer horizontalement et espacement vertical */
    line-height: 1.6; /* améliorer la lisibilité */
    text-align: justify; /* texte justifié pour un rendu plus propre */
    border-bottom: #f07472 2px solid;
    border-radius: 22px 22px 22px 22px;
    padding: 20px;
}

summary {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5em;                  /* espace intérieur */
    text-align: center;
}

.logo{
    width: 150px;
    margin-top: 10px;
}
