*{
    font-family: "Cormorant Garamond", serif;

}

div {
    padding: 2px;
    text-align: center;
}
h1 {
    top: 0; 
    font-size: 4.7em;
    color: #2d2b26;
    margin-bottom: 0.15em;
    font-weight: 600;
    letter-spacing: 0.045em;
    text-transform: uppercase;
}
h2 {
  font-weight: 400;
  font-size: 2.4em;
  color: #585550;
  font-style: italic;
  letter-spacing: 0.04em;
}
h3 {
    text-align: center;
    font-size: 2.2em;
    font-style: italic;
    letter-spacing: 0.04em;

}
h4 {
    text-align: center;
    font-size: 1.4em;
    font-style: italic;
    letter-spacing: 0.04em;

}
h5 {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    letter-spacing: 0.04em;
}
body {
    padding-bottom: 120px; /* espace pour ne pas que le footer recouvre le contenu */
    background: #F7CAC9;

}



footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background-color: #ffffff;
}


p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #3b3a36;
    max-width: 700px; /* largeur maximale */
    margin: 0 auto 1em auto; /* centrer horizontalement et espacement vertical */
    line-height: 1.6; /* améliorer la lisibilité */
    text-align: justify; /* texte justifié pour un rendu plus propre */
    border-bottom: #f07472 2px solid;
    border-radius: 22px 22px 22px 22px;
    padding: 20px;
}

details {
    margin-bottom: 2em;             /* espacement entre les sections */
    cursor: pointer;

}

summary {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6em;
}

.logo{
    width: 150px;
    margin-top: 10px;
}



.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f2ef;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.tabs a {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  font-size: 1.2em;
  color: #2d2b26;
  text-decoration: none;
  transition: background 0.3s;
}

.tabs a:hover {
  background: #ddd7d2;
}

.tabs a.active {
  background: #2d2b26;
  color: #fff;
}


