
body {
    background: #e4f5c9;
}
img {
    max-width: 50%;   /* ne dépasse jamais la largeur de son conteneur */
    height: auto;      /* garde les proportions de l'image */
    display: block;    /* élimine l’espace blanc en dessous de l’image */
    margin: 0 auto;    /* centre l'image horizontalement si nécessaire */
}
