body {
    background: #e7ded2;
}

summary {
    background-color: #ffffff;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
