
body {
    background: #e7ded2;

}



summary {
    background-color: #ffffff;       /* fond blanc pour la “carte” */
    max-width: 800px;                /* largeur limitée */
    margin: 0 auto;              /* centrer et espacement vertical */
    padding: 1.5em;                  /* espace intérieur */
    width: 100%;
    border-radius: 10px;             /* coins arrondis */
    box-shadow: 0 3px 8px rgba(0,0,0,0.1); /* ombre légère */
}



