body {
    background: #e7ded2;
}

summary {
    background-color: #ffffff;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
@media (max-width: 600px) {
body{
    background: #63cc0049;
}
details p{
      border: 4px solid #ff00ff; /* cadre flashy Y2K */
}
  .tabs a.active {
    background: none;           /* pas de fond */
    color: #63cc00;             /* couleur du texte, violet néon par exemple */
    font-weight: bold;       /* texte en gras */
  }

}